h1, h2, h3, h4, h5, h6, p, a {
  color: $color--black;
  line-height: 125%;
  // text-align: center;
}
h1 {
  font-family: $font__family--header;
  font-size: $font__size--h1;
  font-weight: bolder;
  padding: 10px;
  line-height: 0.85;
  letter-spacing: -10px;
}
h2 {
  font-size: $font__size--h2;
  font-weight: bolder;
}
h3 {
  font-size: $font__size--h3;
  font-weight: bolder;
}
h4 {
  font-size: $font__size--h4;
  font-weight: bolder;
}
h5, h6 {
  font-size: $font__size--h5;
}
p {
  font-family: $font__family--body;
  font-size: $font__size--p;
  &.font-size--sm {
    font-size: 1.4rem;
  }
}
a {
  font-size: $font__size--p;
  &:visited, &:focus, &:active {
    color: $color--black;
    outline: none;
    text-decoration: none;
  }
}