@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Plaster');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

$box-shadow--default: 0 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24), 0 0 3px rgba(0,0,0,0.12);
$box-shadow--hover: 0 6px 6px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.08);
$color--black: #222222;
$color--gray-dark: #333333;
$color--gray-light: #cccccc;
$color--gray: #777777;
$color--white--transparent: rgba(255,255,255,0.95);
$color--white: #FFFFFF;
$color__theme--accent: #EE86A8;
$color__theme--main: #99e6f9;
$color--polka: #EE487F;
$polka--shadow: 4px 4px 0 darken($color--polka,20%);
$color--jungle: #4D8D01;
$color--jungle--accent: #FF9607;
$color--wave: #99e6f9;
$color__theme--sub: #EED786;
$font__family--body: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $font__family--header: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font__family--header: 'Rubik Mono One', "Helvetica Neue", Helvetica, Arial, sans-serif;
// $font__family--polka: 'Plaster', cursive;
$font__family--polka: 'Permanent Marker', cursive;
$font__size--p: 1.6rem; // BODY TEXT
$font__size--h5: calc(#{$font__size--p} * 1.35); // ARTICLE SUB HEADER
$font__size--h4: calc(#{$font__size--h5} * 1.35); // ARTICLE MAIN HEADER
$font__size--h3: calc(#{$font__size--h4} * 1.35); // PAGE SUB HEADER
$font__size--h2: calc(#{$font__size--h3} * 1.35); // PAGE MAIN HEADER
$font__size--h1: calc(#{$font__size--h2} * 3.0); // PAGE BANNER
$spacer--lg: 90px;
$spacer--md: 60px;
$spacer--sm: 30px;
$spacer--xl: 120px;
$spacer--xs: 10px;
$transition--lg: 1s;
$transition--md: 0.6s;
$transition--sm: 0.3s;