@charset 'utf-8';
@import '_reset';
@import '_variable';
@import '_font';
@import '_general';

@keyframes wave {
  0% {transform: translateY(-4px);}
  50% {transform: translateY(-12px);}
  100% {transform: translateY(-4px);}
}
@keyframes opacity {
  0% {opacity: 1.0;}
  50% {opacity: 0.0;}
  100% {opacity: 1.0;}
}

h1 {
  &.wave--darken {
    color: darken($color--wave, 25%);
  }
  &.jungle--darken {
    color: darken($color--jungle, 10%);
    mask-image: url('../images/texture_02.png');
    mask-size: auto;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-position-x: -180px;
  }
  &.mask--wave {
    color: darken($color--wave, 35%);
    mask-image: url('../images/texture_01.png');
    mask-size: 12.5%;
    transform: translateY(-7px);
    animation: wave 4s cubic-bezier(0,.71,1,.31) infinite;
  }
}
.section--full-view {
  &.bg--wave {
    background-color: $color--wave;
    mask-image: url('../images/texture_01.png');
    mask-size: 12.5%;
  }
  &.bg--jungle {
    background-color: $color--jungle;
    mask-image: url('../images/texture_02.png');
    mask-size: auto;
    mask-repeat: no-repeat;
    mask-position: center;
  }
}

/* BOOTSTRAP NOTES & RESOLUTION REFERENCE */
// xs < 768px (.container @ auto)
// sm >= 768px (.container @ 750px)
// md >= 992px (.container @ 970px)
// lg >= 1200px (.container @ 1170px)
// ----------------------------------
// iPhone SE = 320 * 568px
// iPhone 7 = 375 * 667px
// iPhone 7 Plus = 414 * 736px
// iPad & iPad mini = 768 * 1024px
// iPad Pro = 1024 * 1366px
// Macbook Air 13-inch = 1440 * 900px
// Macbook Pro 15-inch = 2560 * 1600px
// ----------------------------------
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}