@charset 'utf-8';
@import '_reset';
@import '_variable';
@import '_font';
@import '_general';

@keyframes wave {
  0% {transform: translateY(-4px);}
  50% {transform: translateY(-12px);}
  100% {transform: translateY(-4px);}
}
@keyframes opacity {
  0% {opacity: 1.0;}
  50% {opacity: 0.0;}
  100% {opacity: 1.0;}
}

hr {
  border-top: none;
}
%extPolka {
  font-family: $font__family--polka;
  letter-spacing: -4px;
  position: absolute;
  // transform: translateY(-10px) scale(1.5);
  transform: translateY(-10px) rotate(-15deg) scale(1.5);
  .small {
    color: inherit;
    font-size: 65%;
    margin-left: -4px;
  }
}
h1 {
  &.wave--darken {
    color: darken($color--wave, 25%);
  }
  &.mask--wave {
    color: darken($color--wave, 35%);
    mask-image: url('../images/texture_01.png');
    mask-size: 12.5%;
    transform: translateY(-7px);
    animation: wave 4s cubic-bezier(0,.71,1,.31) infinite;
  }
  &.polka--text {
    @extend %extPolka;
    color: $color--white;
    mask-size: 7.5%;
    // ROTATE CAUSES JAGGED EDGES WITH SVG
    // mask-image: url('../images/texture_04.svg');
    // ...BUT NOT WITH PNG
    mask-image: url('../images/texture_04.png');
    z-index: 20;
    &--base {
      @extend %extPolka;
      color: $color--polka;
      text-shadow: $polka--shadow;
    }
  }
}
.jungle--text--container {
  position: absolute;
  h1 {
    position: absolute;
    &.jungle--text {
      color: $color--jungle;
    }
  }
}
%extTexture {
  background-color: $color__theme--main;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
}
.texture-- {
  &block {
    height: 50vh;
    padding: 0 0 0 0;
    // border: 5px dashed red;  // interesting effect experiment later
  }
  &text {
    position: absolute;
    z-index: 10;
  }
  &01 {
    &:after {
      @extend %extTexture;
      mask-image: url('../images/texture_01.png');
      mask-size: 50%;
    }
  }
  &02 {
    &:after {
      @extend %extTexture;
      mask-image: url('../images/texture_02.png');
      background-color: $color__theme--accent;
      mask-size: cover;
    }
  }
  &03 {
    &:after {
      @extend %extTexture;
      mask-image: url('../images/texture_02.svg');
      mask-size: cover;
      background-color: $color__theme--main;
    }
  }
  &04 {
    &:after {
      @extend %extTexture;
      mask-image: url('../images/texture_03.png');
      mask-size: 75%;
      background-color: $color__theme--accent;
    }
  }
  &05 {
    &:after {
      @extend %extTexture;
      mask-image: url('../images/texture_04.png');
      mask-size: 25%;
      background-color: $color__theme--main;
    }
  }
  &06 {
    &:after {
      @extend %extTexture;
      mask-image: url('../images/texture_04.svg');
      mask-size: 25%;
      background-color: $color__theme--accent;
    }
  }
}
.section--full-view {
  &.bg--polka {
    background-color: $color--polka;
  }
  &.bg--jungle {
    padding: 0;
    position: relative;
    &:before {
      background-color: $color--jungle;
      content: '';
      display: block;
      mask-image: url('../images/texture_02.png');
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      min-height: 100vh;
      mix-blend-mode: multiply;
      position: absolute;
      width: 100%;
      z-index: 10;
    }
    &:after {
      background-color: $color--jungle;
      content: '';
      display: block;
      min-height: 100vh;
      mix-blend-mode: multiply;
      position: absolute;
      width: 100%;
    }
  }
  &.bg--wave {
    background-color: $color--wave;
    mask-image: url('../images/texture_01.png');
    mask-size: 12.5%;
  }
}

/* BOOTSTRAP NOTES & RESOLUTION REFERENCE */
// xs < 768px (.container @ auto)
// sm >= 768px (.container @ 750px)
// md >= 992px (.container @ 970px)
// lg >= 1200px (.container @ 1170px)
// ----------------------------------
// iPhone SE = 320 * 568px
// iPhone 7 = 375 * 667px
// iPhone 7 Plus = 414 * 736px
// iPad & iPad mini = 768 * 1024px
// iPad Pro = 1024 * 1366px
// Macbook Air 13-inch = 1440 * 900px
// Macbook Pro 15-inch = 2560 * 1600px
// ----------------------------------
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}